.product-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 16px;
}

.product-list-item {
  display: flex;
}

.product-list-item>* {
  width: 100%;
}

@media (max-width: 480px) {
  .product-list {
    grid-template-columns: 1fr;
  }
}